<?xml version="1.0" ?>
<img>
	<anim name="hp" path="img/barre_vie.png" nbrCollums="1" nbrLines="11" />
	<anim name="vie" path="img/live.png" nbrCollums="1" nbrLines="6" />
	<anim name="coutdown" path="img/coutdown.png" nbrCollums="1" nbrLines="4" />
	<anim name="shield" path="img/sheild.png" nbrCollums="1" nbrLines="1" />
	<anim name="marm" path="img/arm_mago2.png" nbrCollums="3" nbrLines="2" />
	<anim name="sarm" path="img/arm_squel.png" nbrCollums="3" nbrLines="1" />
	<anim name="god" path="img/god.png" nbrCollums="2" nbrLines="1" />
	<anim name="fire" path="img/fireball2.png" nbrCollums="6" nbrLines="1" />
	<anim name="shot" path="img/shot2.png" nbrCollums="16" nbrLines="1" />
	<anim name="shuriken" path="img/shuriken.png" nbrCollums="4" nbrLines="1" />
	<anim name="mago" path="img/sprite_mago4.png" nbrCollums="3" nbrLines="4" />
	<anim name="dead" path="img/dead.png" nbrCollums="2" nbrLines="2" />
	<anim name="squel" path="img/sprite_squel.png" nbrCollums="3" nbrLines="4" />
	<anim name="item" path="img/chest.png" nbrCollums="6" nbrLines="1" />
	<anim name="explosion" path="img/explosion.png" nbrCollums="6" nbrLines="3" />
	<anim name="explosion2" path="img/explosion2.png" nbrCollums="3" nbrLines="1" />
	<anim name="explosion3" path="img/fire2.png" nbrCollums="4" nbrLines="1" />
	<sprite name="pause" path="img/pause.png" nbrCollums="0" nbrLines="0" />
	<sprite name="norfair" path="img/norfair.png" nbrCollums="0" nbrLines="0" />
	<sprite name="press" path="img/press_any_key.png" nbrCollums="0" nbrLines="0" />
	<anim name="winner" path="img/winner.png" nbrCollums="1" nbrLines="2" />
	<sprite name="retry" path="img/retry.png" nbrCollums="0" nbrLines="0" />
</img>
<sound>
	<wav name="jump" path="sounds/jump.wav" />
	<wav name="hurt" path="sounds/hurt.wav" />
	<wav name="item" path="sounds/item.wav" />
	<wav name="fireball" path="sounds/fireballs.wav" />
	<wav name="shot" path="sounds/shot.wav" />
	<wav name="select" path="sounds/select.wav" />
</sound>
<config>
	<option name="screenwidth" value="800" />
	<option name="screenheight" value="600" />
	<option name="tilewidth" value="16" />
	<option name="tileheight" value="15" />
	<option name="tilesetwidth" value="10" />
	<option name="tilesetheight" value="9" />
	<option name="playercollwidth" value="16" />
	<option name="playercollheight" value="18" />
	<option name="gravity" value="350" />
	<option name="jump" value="-300" />
	<option name="itemcooldown" value="5" />
	<option name="startvie" value="6" />
	<option name="starthp" value="100" />
	<option name="level" value="1" />
</config>
